.container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 70px 20px;
    min-height: 100vh;
}

.headerContainer {
    display: flex;
    width: 100%;
    align-items: center;
}

.backButtonContainer {
    display: flex;
    justify-content: center;
    width: 20%;
    cursor: pointer;
}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.backButton {
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.userContent {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userImageContainer {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.userNameContainer {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color:  #f4f4f4;
}

.divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.petInfoSectionContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.petInfoSection h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.petList {
    list-style-type: none;
    padding: 0;
}

.petList li {
    font-size: 18px;
    margin-bottom: 5px;
}

.petDetailsContainer {
    margin-bottom: 20px;
    background-color: white;
}

.petContainer {
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.petContainer h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.petContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.petContainer li {
    margin-bottom: 15px;
}

.editInfoButtonContainer {
    display: flex;
    justify-content: flex-end; /* 수평 오른쪽 정렬 */
    padding-left: 20px;
}

.editInfoButton {
    background-color: #6cff61;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.petDetails {
    display: flex;
    justify-content: space-between;
}


.leftColumn {
    width: 48%;
}


.rightColumn {
    width: 48%;
}

.leftColumn ul,
.rightColumn ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leftColumn li,
.rightColumn li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;  /* 텍스트가 한 줄로 유지되도록 설정 */
}

.boldText {
    font-weight: bold;
    min-width: 100px;
}

.diseaseText {
    position: relative;
    left: -50px;
}

.addPetButtonContainer {
    text-align: center;
}

.addPetButton {
    background-color: #ff6f61;
    color: black;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.LogoutCon {
    display: flex;
    width: 100%;
    align-items: center;
}

.logoutEmpty {
    display: flex;
    justify-content: center; /* 콘텐츠 가운데 정렬 */
    width: 70%; /* 80% 너비 */
}

.logoutButtonCon {
    display: flex;
    justify-content: center; /* 버튼 가운데 정렬 */
    width: 30%; /* 20% 너비 */
}

.logoutButton {
    background-color:  #ff6f61;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 13px;
}