.btn_area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6f6f6f;

    position: fixed;
    bottom:12%;
    right: 6%;
}

.btn_area:hover{
    cursor: pointer;
}