.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 70px 20px;
    background-color: #D9D9D9;
    position: relative;
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
}

.radioLabelContainer {
    width: 50%;
    text-align: left;
}

.radioContainer {
    background-color: white;
    width:50%;
    padding: 10px;
    margin-bottom: 10px;
}
.formContainer {
    width: 100%; /* 화면 전체 너비를 사용 */
    margin: 0 auto; /* 화면 중앙에 정렬 */
}
.form {
    display: flex;
    flex-direction: column;
}

.labelName{
    padding:10px;
}

.label {
    display: block;
    margin-right: 10px;
}

.input {
    border: none;
    background-color: white;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

.inputRadio {
    margin-right: 5px;
}

.radioGroup {
    display: flex;
}

.submitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    padding: 10px;
    font-size: 16px;
    background-color: #FF4747;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.arrowBack {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: black;
    font-size: 10px;
    padding-bottom: 20px;
    border: none;
    cursor: pointer;
}

.highlight {
    font-weight: bold;
    color: #FF4747;
}
