/*사이드바*/
/* 사이드바 기본 스타일 */
.list_container {
    position: absolute;
    bottom: 202px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(239, 239, 239, 0.8);
    /*transition: height 0.3s ease-in-out, bottom 0.3s ease-in-out;*/
    z-index: 10;
}
/* 사이드바가 열리면 위치 조정 */
.list_container.open {
    bottom: 196px;
    height: 120px;
}

/* 사이드바 열기/닫기 버튼 */
.sidebar_open_btn {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 20; /* 사이드바보다 우선 */
    border: none;
    background-color: rgba(239, 239, 239, 0.8);
    padding: 10px;
    cursor: pointer;;

    border-radius: 30px 30px 0 0;
}

/* 화살표 아이콘 크기 조정 */
.sidebar_open_btn svg {
    width: 20px;
    height: 20px;
}

.list_container.open .result_area{
    height: 120px;
}

.result_area{
    width: 100%;
    height: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.result_area::-webkit-scrollbar {
    display: none;
}

.result_item{
    border-bottom: 1px solid #888888;
    padding: 15px;
}

.result_item h5 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff6f61;;
}

.road_address_name{
    font-size: 14px;
    margin-bottom: 5px;
}

.result_item a:hover{
    color: #f64330;
}

.address_name{
    color: #888888;
    font-size: 11px;
    margin-bottom: 6px;
}

.distance_phone{
    font-size: 12px;
    margin-bottom: 15px;
}

a {
    all: unset;
    cursor: pointer;
}